/media/ST3/MEDIA/GAMEDEV/build/__whl_cache__/win_amd64_cp37m/Pmw-2.0.1-py3-none-any.whl
/media/ST3/MEDIA/GAMEDEV/build/__whl_cache__/win_amd64_cp37m/panda3d-1.10.7+opt-cp37-cp37m-win_amd64.whl
/media/ST3/MEDIA/GAMEDEV/build/__whl_cache__/win_amd64_cp37m/xlib-0.21-py2.py3-none-any.whl
/media/ST3/MEDIA/GAMEDEV/build/__whl_cache__/win_amd64_cp37m/urllib3-1.26.2-py2.py3-none-any.whl
/media/ST3/MEDIA/GAMEDEV/build/__whl_cache__/win_amd64_cp37m/setuptools-51.1.0-py3-none-any.whl
/media/ST3/MEDIA/GAMEDEV/build/__whl_cache__/win_amd64_cp37m/configparser-4.0.2-py2.py3-none-any.whl
/media/ST3/MEDIA/GAMEDEV/build/__whl_cache__/win_amd64_cp37m/six-1.15.0-py2.py3-none-any.whl