__whl_cache_new__/manylinux1_x86_64_cp39m/Pmw-2.0.1-py3-none-any.whl
__whl_cache_new__/manylinux1_x86_64_cp39m/panda3d-1.11.0-cp39-cp39-manylinux1_x86_64.whl
__whl_cache_new__/manylinux1_x86_64_cp39m/urllib3-1.26.2-py2.py3-none-any.whl
__whl_cache_new__/manylinux1_x86_64_cp39m/setuptools-51.1.0-py3-none-any.whl
__whl_cache_new__/manylinux1_x86_64_cp39m/configparser-4.0.2-py2.py3-none-any.whl
__whl_cache_new__/manylinux1_x86_64_cp39m/six-1.15.0-py2.py3-none-any.whl
-f /home/galym/PycharmProjects/test_android_apk/wheels/
panda3d
